<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sidelinetestapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/simpl_launch"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/simpl_launch_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.SettingsLogin"
            android:label="Settings Login"
            android:parentActivityName=".standalone.MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".view.AntiSaccadeView"
            android:label="AntiSaccade View"
            android:parentActivityName=".standalone.MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".standalone.testSettings"
            android:label="Settings"
            android:parentActivityName=".standalone.MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".standalone.TaskSwitchInstructions"
            android:label="Task Switch Instructions"
            android:parentActivityName=".standalone.Main2Activity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".standalone.saccadeInstructions"
            android:label="Saccade Instructions"
            android:parentActivityName=".standalone.Main2Activity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sidelinetestapp.standalone.saccadeInstructions" />
        </activity>

        <activity
            android:name=".standalone.Main2Activity"
            android:label="Participant Information"
            android:parentActivityName=".standalone.MainActivity"
            android:screenOrientation="sensorPortrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.sidelinetestapp.standalone.Main2Activity" />
        </activity>
        <activity
            android:name=".standalone.MainActivity"
            android:label="Sideline Neurological Test App"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.NumericTaskSwitchView"
            android:label="Task Switching Test"
            android:parentActivityName=".standalone.MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".view.SpatialTaskSwitchView"
            android:label="Task Switching Test"
            android:parentActivityName=".standalone.MainActivity"
            android:screenOrientation="sensorPortrait" />
    </application>

</manifest>